.dialog-agenda {
    background-color: #ffffff;
    color: black;
    width: 75%;
    border-radius: 15px;
}

.modal-title {
    padding: 20px;
    padding-left: 5%;
    padding-right: 20%;
    border-radius: 5px;
    color: black;
    background-color: rgb(203, 184, 159);
    font-weight: 500;
    font-size: 1.6rem;
    text-align: left;
}

.modal-body {
    margin: 5%;
}

.modal-body * {
    font-size: 1.2rem !important;
}

.modal-details * {
    font-weight: 500 !important;
}

.modal-close-btn {
    margin: 5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}