

/* a editar */
.searchBar {

    width: 60%;
    margin-bottom: 50px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    color:black;

}

@media (max-width: 768px){

    .searchBar{
        width: 100%;
    }
}