

/* a editar */
.searchBar {
    align-items: center;
    width: 45.72%;
    margin-bottom: 50px;
    margin-left:12px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    color:black;

}

@media (max-width: 900px){

    .searchBar{
        width: 100%;
        margin-left:0;
    }
}