.main {
    /* background-image: url("background.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: auto;
     */
     overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
  }
  

/* ------------------------ MENU ------------------------ */

.menu {
  overflow:hidden;
}

  /* mirar @ media per tal que sempre surti en una línea */
.menu ul {
  /* margin-top: 60px; */
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  /* margin-left:10%; */
  /* margin-right:10%; */
  text-align:center;
  background:rgb(255, 255, 255);
  /* border-radius:40px; */
  /* border: 4px solid rgba(255, 255, 255, 0.7); */
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  position:fixed;
  width:100%;

}


.menu li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: inline;
  margin-left: 3%;
  margin-right: 3%;
  opacity:1;
  text-decoration-line: none;
  white-space: nowrap;
}

.menu #home {
    font-style: italic;
}

.menu a {
  text-decoration: none;
  color: black;

}


.menu a:hover{
  color: #5f64a0;
  moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

}


/* -------------------------- APP ---------------------- */

.app-section {
  margin-top:110px;
  padding-left: 15%;
  padding-right: 15%;

  font-family:"Poppins", Helvetica, Arial, sans-serif;
  font-size: 15px;

  text-align: justify;
  color:white;
}


#qui-som-equip{
  padding-top:50px;
}

.titol-quisom, .titol-agenda, .titol-presentacio{
  margin-bottom: 20px;
  font-size: 20px;
  color: #c3e1e9;
  text-align: center;
  font-weight:550;
  font-size: 27px;
}

.btn.btn-orange{
  background-color:#faa25d;
  color:black;
  align-items: center;
}


.btn.btn-smooth-transition:hover{
  background-color: black;
  color:white;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
/* .team-member {
    text-align: center;
    margin: 20px;
    width: 150px;
    height: 250px;
    display: inline;
  }
  
.team-member-image {
    width: 150px;
    height: 150px; 
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
    display: block;
}
 */

 /* -------------------- QUI SOM? --------------------------- */
 
 .team-member{
  justify-content: center;
  width:100%;
  display:block;
  gap:16px;
  align-items: center;
  padding-top:15px;
}


  .team-member-image {
    width: 140px; /* Adjust image width as needed */
    height: 140px; /* Adjust image height as needed */
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image fills the circular frame */
    border: 4px solid rgba(0,0,0,0.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
.profile-content {
    text-align: center; /* Center content within the profile */
    margin-top:15px;
}

  


/* ------------------  AGENDA ---------------------- */
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
  }

.circle-Beginner {
  background-color: green;
}

.circle-Intermediate {
  background-color: yellow;
}

.circle-Advanced {
  background-color: red;
}

.card.profile.workshop{
  width: 50%;
  background-color:inherit;
  border:none;
  display: inline-block;
  padding:4%;
}

.workshop-title {
  color:white;
  height: "20%"; 
  /* background-color: #b9715f; */
  background-color:#386671;
  /* background-color:#895244; */
}

.workshop-content {
  background-color: white;
}

.pregunta-presentacio {
  width: 33%;
  padding: 3%;
  background:rgba(255, 255, 255, 0.5);
  margin:5%;
  text-align: center;
}

#presentacio-text{
  margin-bottom:40px;
}

#presentacio-cards{
  width:"100%";
}


.quest{
    align-items: center;
    background-color:rgba(255, 255, 255, 0.5) ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}



/* --------------------- HOME -------------------------- */


/* possiblement fer app-section i modificar */
.home-section {
  margin-top:50px;
  width:100%;
  font-family:"Poppins", Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-align: justify;
  color:white;
}


.home-video-container{
  height: 100%;
  object-fit: cover;
  overflow:hidden;
  /* padding:7%; */
  /* padding-top:3%; */
  padding-bottom:3%;
  margin-left:auto;
  margin-right:auto;
  /* background-color:  #c3e1e9; */
  margin-bottom:20px;

}

.home-video-container > video{
  min-width:100%;
  max-height:100%;
  /* border-radius: 20px; */
  /* border: 10px solid rgba(255, 255, 255, 0.8); */

}

.home-text{
  text-align: right;
  color:#5f64a0;
  font-size:30px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius:15px;
  padding:15px;
  margin-right:10px;
  font-family:"Poppins", Helvetica, Arial, sans-serif;

}


/* -------------- MEDIA MAX-WIDTH: 768px ------------------- */

@media (max-width: 768px){
  .card.profile.workshop{
    width: 100% !important;
  }

  .pregunta-presentacio {
    width: 100%;
    padding: 5%;
  }



  .home-text{
    font-size: 25px;
    border: 5px solid rgba(255, 255, 255, 0.9);
    margin-right:10px;

  }

}







